{% extends 'layout.twig' %}

{% block body %}
  <h1 class="text-center text-success">Ajout d'un vehicule</h1>

      <div class="container">
                  <form action="" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                              <label for="Proprietaire" class="mb-2">Nom du Proprietaire :</label>
                              <input type="Proprietaire" class="form-control" id="Proprietaire" name="Proprietaire" placeholder="ex : Fernand">
                        </div>
                        <div class="form-group mt-4">
                              <label for="image" class="mb-2">Image :</label>
                              <input type="file" class="form-control" id="image" name="image" placeholder=".png .jpeg .jpg">
                        </div>
                        <div class="form-group mt-4">
                              <label for="marque" class="mb-2">Marques :</label>
                              <select name="marque" id="marque">
                                    <option value="">Choisir la marque</option>
                                    {% if marques %}
                                          {% for marque in marques %}
                                                <option value="{{marque.option}}">{{marque.option}}</option>
                                          {% endfor %}
                                    {% endif %}
                              </select>
                        </div>
                        <div class="form-group mt-4">
                              <label for="anne" class="mb-2">Année :</label>
                              <input type="text" class="form-control" id="anne" name="anne" placeholder="1999 ...">
                        </div>
                        <div class="form-group mt-4">
                              <label for="description" class="mb-2">Description :</label>
                              <textarea class="form-control" id="description" name="description" rows="4" placeholder="Decrivez ici votre voiture ainsi que les problèmes"></textarea>
                        </div>
                        <button type="submit" class="btn btn-dark mt-4">Valider</button>
                        {% if errorForm %}
                        <h6 class="text-danger mt-3">" Veuillez verifier les erreurs ci-dessous !!! "</h6>
                        <ul>
                              {% for error in errorForm %}                                    
                                    {% if error.Proprietaire %}
                                          <li class="text-danger"><i>{{ error.Proprietaire.message}}</i></li>
                                    {% endif %}
                                    {% if error.marque %}
                                          <li class="text-danger"><i>{{ error.marque.message}}</i></li>
                                    {% endif %}
                                    {% if error.image %}
                                          <li class="text-danger"><i>{{ error.image.message}}</i></li>
                                    {% endif %}
                                    {% if error.anne %}
                                          <li class="text-danger"><i>{{ error.anne.message}}</i></li>
                                    {% endif %}
                                    {% if error.Proprietaire %}
                                          <li class="text-danger"><i>{{ error.description.message}}</i></li>
                                    {% endif %}                                    
                              {% endfor %}
                              </ul>
                        {% endif %}
                        {% if success %}
                              <div class="alert alert-success mt-3" role="alert">{{success}}</div>
                        {% endif %}
                        {% if error %}
                              <div class="alert alert-danger mt-3" role="alert">{{error}}</div>
                        {% endif %}
                  </form>
      </div>
{% endblock %}