{% extends 'layout.twig' %}

{% block body %}
  <h1 class="text-center text-success">Liste des vehicules</h1>
  <table class="table">
  <thead class="bg-info">
    <tr>
      <th scope="col">Proprietaire</th>
      <th scope="col">Model</th>
      <th scope="col">Année</th>
      <th scope="col" class="descr">Description</th>
      <th scope="col"  class="depot">Date de dépôt</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  {% if vehicules %}
  <tbody>
    {% for vehicule in vehicules %}
    <tr>
      <td>{{vehicule.Proprietaire}}</td>
      <td>{{vehicule.model}}</td>
      <td>{{vehicule.anne}}</td>
      <td>{{vehicule.description}}</td>
      <td>{{vehicule.depot}}</td>
      <td class="action-tabs"><a href="/vehicule/{{vehicule._id}}" class="btn btn-info">Voir</a>
        <button type="button" class="btn btn-danger">Supprimer</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
  </table>
{% endblock %}
