{% extends 'layout.twig' %}

{% block body %}
        <div class="container">
        <h1 class="text-center text-uppercase text-warning">Sign UP</h1>
            <form method="post" class="d-flex flex-column align-items-center">
                 {% if success %}
                    <div class="p-3 bg-secondary text-white" role="alert">{{success}}</div>
                {% endif %}
                <div class="form-group col-md-6">
                    <label for="username">Username :</label>
                    <input class="form-control" type="text" name="username" id="username" value="User-01">
                    {% if errorForm %}
                        {% for error in errorForm %}                                    
                                {% if error.username %}
                                    <div class="text-muted"><i>{{ error.username.message}}</i></div>
                                {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group col-md-6">
                    <label for="firstname" class="mt-3">First Name</label>
                    <input class="form-control" type="text" name="firstname" id="firstname" value="First">
                    {% if errorForm %}
                        {% for error in errorForm %}                                    
                                {% if error.firstname %}
                                    <div class="text-muted"><i>{{ error.firstname.message}}</i></div>
                                {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname" class="mt-3">Last Name</label>
                    <input class="form-control" type="text" name="lastname" id="lastname" value="User">
                    {% if errorForm %}
                        {% for error in errorForm %}                                    
                                {% if error.lastname %}
                                    <div class="text-muted"><i>{{ error.lastname.message}}</i></div>
                                {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>


                <div class="form-group col-md-6">
                    <label for="email" class="mt-3">Your Email :</label>
                    <input class="form-control" type="email" name="email" id="email" value="User-01@mail.com">
                    {% if errorForm %}
                        {% for error in errorForm %}                                    
                                {% if error.username %}
                                    <div class="text-muted"><i>{{ error.email.message}}</i></div>
                                {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group col-md-6">
                    <label for="email" class="mt-3">Password :</label>
                    <input class="form-control" type="password" name="password"  id="password"  value="User1234">
                    {% if errorForm %}
                        {% for error in errorForm %}                                    
                                {% if error.username %}
                                    <div class="text-muted"><i>{{ error.password.message}}</i></div>
                                {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            
                <div class="form-group col-md-6">
                    <label for="email" class="mt-3">Re-type your Password :</label>
                    <input class="form-control" type="password"  name="cpassword" id="password" value="User1234">
                    {% if errorForm %}
                        {% for error in errorForm %}                                    
                                {% if error.username %}
                                    <div class="text-muted"><i>{{ error.cpassword.message}}</i></div>
                                {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>


                <div class="form-group d-flex flex-column mt-3">
                    <button class="btn btn-warning btn-block mb-3 mt-3" type="submit">Sign Up</button>
                    <a href="userlogin" class="text-black">You have an account ?</a>
                </div>
            </form>
            </div>
{% endblock %}